@font-face {
  font-family: "league_gothicregular";
  src: url("/assets/font/leaguegothic-regular-webfont.woff2") format("woff2"),
  url("/assets/font/leaguegothic-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: "league_gothiccondensed_italic";
  src: url("/assets/font/leaguegothic-condenseditalic-webfont.woff2") format("woff2"),
  url("/assets/font/leaguegothic-condenseditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: "league_gothicCnRg";
  src: url("/assets/font/leaguegothic-condensedregular-webfont.woff2") format("woff2"),
  url("/assets/font/leaguegothic-condensedregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: "league_gothicitalic";
  src: url("/assets/font/leaguegothic-italic-webfont.woff2") format("woff2"),
  url("/assets/font/leaguegothic-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}
