
$brand-primary: #2c494c;

$headings-font-family: "league_gothicregular";

$btn-border-radius: 1px;
$btn-border-radius-lg: 1px;

$btn-primary-color: $brand-primary;
$btn-primary-bg: transparent;
$btn-primary-border: $brand-primary;

$btn-padding-y-lg: 1.2rem;
