/* You can add global styles to this file, and also import other style files */

@import "styles/variables";

@import "styles/bootstrap";
@import "styles/font-awesome";

@import "styles/font";


.app-bg {
  background-image: url("/assets/img/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
